
<div class="form-group">
    <label for="title">Title</label>
    <input type="text" value="<%= article.title %> " name="Title", id="Title" class="form-control" required>
</div>
<div class="form-group">
    <label for="description">Description</label>
    <textarea name="description" , id="description" class="form-control"> <%= article.description %>  </textarea>
</div>
<div class="form-group">
    <label for="Markdown">Markdown</label>
    <textarea required type="text" name="markdown" , id="markdown" class="form-control"><%= article.markdown %></textarea>
</div>

<a href="/" class="btn btn-secondary">Cancel</a>
<button type="submit" class="btn btn-primary">Save</button>