<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Markdown Blog</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
        
</head>
<body>
    <div class="container">
        <h1 class="mb-4">Blog Articles</h1>
        <a href="/articles/new" class="btn btn-success">New Article</a>
        <% articles.forEach(article => { %>
            <div class = "card mt-4">
                <div class="card-body">
                    <h4 class="card-title"><%= article.title%></h4>
                    <div class="card-subtitle text muted mb-2">
                        <%= article.createdAt.toLocaleDateString() %> 
                    </div>
                    <div class="card-text mb-2">
                        <%= article.description %> 
                    </div>
                </div>
                
            </div>
        <%}); %> 
    </div>
</body>
</html>